.detail-info{
  .basic-area{
    padding-right: 0 !important;
  }
  .detail-info-title{
    font-size: 22px;
    color: #333;
    margin: 0px 0 10px 0;
  }
  .reason-msg-time{
    color: #666;
    font-size: 14px;
  }
}