//main
$mainBg: #409eff;


/*主色调*/
$main-color: #4a5c6a;
/*橙色*/
$orange-color: #f08f00;
/*重要颜色*/
$important-color: #ff6a00;
/*银色*/
$ag-color:#e9ebea;
/*冰蓝*/
$ice-blue: #d2dbe0;

/*黑色*/
$black: #000;
/*辅助色*/
$grey: #666666;
/*图标颜色*/
$icon-color: #999999;
/*边框颜色*/
$border-color: #e7e7e7;
/*灰色eee*/
$grey-e: #eee;

/*淡蓝色 info*/
$info-color: #3bb7e8;


/*primary颜色*/
$primary-color: #3aa1ff;
$primary-color-h: #1372c9;
$primary-color-a: #1372c9;


/*成功颜色*/
$success-color: #6bb377;
$success-color-h: #53a568;
$success-color-a: #60bd77;

/*警告颜色*/
$warn-color: #f08f00;
$warn-color-h: #e78c05;
$warn-color-a: #f3a32d;

/*危险颜色*/
$danger-color: #ed5565;
$danger-color-h: #d34b5a;
$danger-color-a: #e97a85;

/* 提示颜色*/
$tip-default: #eee;
$tip-info: #d7ebfc;
$tip-warn: #ffffcd;
$tip-error: #f3ddc5;
