/**

 */
@import '~vxe-table/styles/variable.scss';
// vxe-table 表格颜色配置
/*font-family*/
$vxe-font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
$vxe-font-color: #000;
$vxe-font-size: 12px;
$vxe-zindex: 3000;

/*primary color*/
$vxe-primary-color: #3aa1ff;
$vxe-disabled-color: #B1B1B1;

/*input/radio/checkbox color*/
$vxe-input-border-color: #e7e7e7;
$vxe-input-disabled-color: #eee;

/*popup*/
$vxe-table-popup-border-color: #e7e7e7;

/*table color*/
$vxe-table-header-background-color: #ededef;
$vxe-table-border-color: #e7e7e7;
$vxe-table-resizable-color: #D9DDDF;
$vxe-table-background-color: #ffffff;

/*table row*/
$vxe-table-row-striped-background-color: #f5f5f6;
$vxe-table-row-hover-background-color: #e6f7ff;
$vxe-table-row-current-background-color: #ffffcd;

/*table column*/
$vxe-table-column-hover-background-color: #e6f7ff;
$vxe-table-column-current-background-color: #ffffcd;
$vxe-table-column-icon-border-color: #c0c4cc;
$vxe-table-column-icon-border-hover-color: #515A6E;

/*table cell*/
$vxe-table-cell-dirty-width: 5px;
$vxe-table-cell-dirty-color: #ed5565;

/*table checked*/
$vxe-table-column-checked-border-width: 2px;
$vxe-table-column-checked-border-color: #D4D4D4;
$vxe-table-column-header-checked-background-color: #DCDCDC;
$vxe-table-column-checked-background-color: #e6f7ff;

/*loading*/
$vxe-loading-background-color: rgba(0, 0, 0, 0.2);

/*excel*/
$vxe-excel-font-color: #333;
$vxe-excel-header-background-color: #E6E6E6;
$vxe-excel-header-selected-background-color: #D2D2D2;
$vxe-excel-column-border-width: 2px;
$vxe-excel-column-border-color: #D4D4D4;
$vxe-excel-primary-color: #217346;

/*validate*/
$vxe-table-validate-error-color: #ed5565;

/*tooltip*/
$vxe-tooltip-dark-background-color: #303133;
$vxe-tooltip-light-background-color: #fff;






//@import 'vxe-table/styles/default.scss';
@import "~vxe-table/styles/default.scss";


.size--mini .vxe-checkbox>input:checked+.checkbox--icon:before{
    left: .35em;
    top: 0.15em;
    height: .65em;
    width: .35em;
}


.vxe-toolbar{
  .vxe-custom--setting-btn{
    i{
      color: #3aa1ff;
    }
  }
}

// 分页样式 start
//.vxe-pager.p--background, vxe-pager.size--mini.p--background{
//  .vxe-pager--prev-btn, .vxe-pager--next-btn{
//    min-width: 30px;
//    text-align: center;
//    border-radius: 0px;
//    margin: 0 0px;
//    height: 30px;
//    line-height: 30px;
//    background: transparent;
//    border: 1px solid #e7e7e7;
//    //top: 2px;
//    position: relative;
//    i{
//      position: relative;
//      top: -3px;
//      left: -2px;
//      font-size: 20px;
//    }
//  }
//  .vxe-pager--prev-btn{
//    border-right: 0;
//  }
//  .vxe-pager--next-btn{
//    border-left: 0;
//    i{
//      left: 1px;
//    }
//  }
//  .vxe-pager--btn-wrapper{
//    margin: 0;
//    top: -2px;
//    position: relative;
//    .vxe-pager--num-btn, .vxe-pager--jump-prev, .vxe-pager--jump-next{
//      margin: 0px;
//      border-radius: 0px;
//      background: transparent;
//      border: 1px solid #e7e7e7;
//      min-width: 30px;
//      height: 30px;
//      line-height: 30px;
//
//    }
//    .vxe-pager--num-btn.is--active{
//      background: #3aa1ff;
//      border-color: #3aa1ff;
//    }
//    .vxe-pager--jump-icon.vxe-icon--d-arrow-left, .vxe-pager--jump-icon.vxe-icon--d-arrow-right{
//      top: 5px;
//      left: 5px;
//      font-size: 20px;
//    }
//    .vxe-pager--jump-more{
//      font-size: 20px;
//    }
//    li+li{
//      border-left: 0px !important;
//    }
//
//  }
//  .vxe-pager--jump .vxe-pager--goto{
//    height: 30px;
//  }
//  .vxe-pager--sizes{
//
//    //padding-top: 3px;
//    .size--content{
//      height: 30px;
//      line-height: 30px;
//    }
//  }
//}
// 分页样式 end



.vxe-pager-size--select.is--show{
  li{
    height: 20px;
    line-height: 20px;
  }
}

.vxe-pager.size--mini.p--background{
  .vxe-pager--prev-btn, .vxe-pager--next-btn{
    i{
      top: -2px;
    }
  }
  .vxe-pager--sizes .vxe-pager--sizes-arrow{
    top: 8px;
  }
}

.vxe-icon--arrow-top:before, .vxe-icon--arrow-bottom:before, .vxe-icon--arrow-left:before, .vxe-icon--arrow-right:before{
  border-width: 0.05em;
}
.vxe-toolbar .vxe-custom--setting-btn:hover{
  background-color: transparent;
}

// 全选checkbox
.vxe-checkbox.is--indeterminate > input + .checkbox--icon:before{
  left: 0;
}

//排序图标位置调整
.vxe-table .vxe-sort-wrapper .vxe-sort--asc-btn, .vxe-table .vxe-sort-wrapper .vxe-sort--desc-btn {
  position: relative;
}
.vxe-table .vxe-sort-wrapper .vxe-sort--asc-btn{
  top: 3px;
}
.vxe-table .vxe-sort-wrapper .vxe-sort--desc-btn{
  top: -3px;
}
.vxe-table .vxe-sort-wrapper .vxe-sort--asc-btn:hover, .vxe-table .vxe-sort-wrapper .vxe-sort--desc-btn:hover{
  color: #3aa1ff;
}


//消息提示样式
.vxe-msg--wrapper{

  &.msg--warning{
    .vxe-msg--box{

    }
  }
}


.vxe-msg--wrapper {
  .vxe-msg--box {
    min-width: 380px !important;
  }
  &.msg--warning {
    .vxe-msg--box{
      background-color: #fef4e6 !important;
      border-color: #fce9cc !important;
      .vxe-msg--content{
        color: #F08F00 !important;
      }
    }
  }
  .vxe-msg--status-wrapper {
    font-size: 14px !important;
    line-height: 1 !important;
    .vxe-msg--status-icon{
      color: #F08F00 !important;
    }
  }

}

//弹窗样式
.vxe-msg--wrapper .vxe-msg--box{
  text-align: center !important;
  .vxe-msg--footer{
    text-align:center !important;
    padding: 30px 15px 30px;
  }
}

//选中数据样式
.jst-demo-tableWrap{
   position: relative;
  .jst-table-selectData{
    position: absolute;
    bottom: 10px;
    left: 0;
    height: 30px;
    line-height: 30px;
    .cancel-tree-select{
      cursor: pointer;
    }
  }
}

.vxe-table .el-input--small .el-input__inner{
  height: 28px;
  line-height: 28px;
}
.vxe-table .el-range-editor--small.el-input__inner{
  height: 28px;
  line-height: 28px;
}
.vxe-table .el-input-number--small{
  height: 28px;
  line-height: 28px;
}
.vxe-table .el-input-number.is-controls-right[class*=small] [class*=decrease], .vxe-table .el-input-number.is-controls-right[class*=small] [class*=increase]{
  line-height: 12px;
}


//必填 *号 居中对齐
.vxe-table .vxe-header--column .vxe-required-icon {
  margin-top: -4px;
}
