.error-page {
  background: #f0f2f5;
  margin-top: -190px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .middle-box{
    position: relative;
  }
  .actions{
    margin-top: 20px;
  }
  .error-desc{
    margin-top: 20px;
  }
  .error-img-logo{
    margin-top:80px;
    position: absolute;
    right:52px;
    -webkit-animation: loading 4s infinite linear;
    -o-animation: loading 4s infinite linear;
    animation: loading 4s infinite linear;
  }
  /*  加载旋转动画 */
  @keyframes loading
  {
    0%   { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
  @-moz-keyframes  loading
  {
    0%   { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
  @-ms-keyframes  loading
  {
    0%   { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
  @-o-keyframes  loading
  {
    0%   { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
}