.theme-white {
  .avue-header,
  .avue-logo,
  .tags-container {
      background-color: #4a5c6a;
  }
  .avue-sidebar--tip{
    background-color:transparent;
    color:#333;
  }
  .el-dropdown{
    color:#fff;
  }
  .avue-logo_title{
    font-weight: 400;
    color:#fff;
  }
  .logo_title,
  .avue-breadcrumb
  {
      color: #fff ;
      i {
          color: #fff;
      }
  }
  .avue-top{
    .el-menu-item {
      i,
      span {
          color: #fff ;
      }
      &:hover {
          i,
          span {
              color: #fff ;
          }
      }
    }
  }
  .avue-sidebar{
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.15);
    background-color: #fff;
    padding-top: 64px;
    .el-menu-item,.el-submenu__title{
      i,span{
          color:#000
      }
      &:hover{
          background: transparent;
          i,span{
             color:#333;
          }
      }
      &.is-active {
          background-color: #e9ebea;
          i,span{
              color:#3aa1ff;
          }
      }
    }
  }
  .top-search {
      .el-input__inner{
        color: #333;
      }
      input::-webkit-input-placeholder,
      textarea::-webkit-input-placeholder {
          /* WebKit browsers */
          color: #fff;
      }
      input:-moz-placeholder,
      textarea:-moz-placeholder {
          /* Mozilla Firefox 4 to 18 */
          color: #fff;
      }
      input::-moz-placeholder,
      textarea::-moz-placeholder {
          /* Mozilla Firefox 19+ */
          color: #fff;
      }
      input:-ms-input-placeholder,
      textarea:-ms-input-placeholder {
          /* Internet Explorer 10+ */
          color: #fff;
      }
  }
  .top-bar__item {
      i {
          color: #fff;
      }
  }
  .avue-top{
    .top-bar__title{
      .top-menu{
        .el-menu--horizontal{
          .top-menu-drop-sub.el-submenu{
            .el-submenu__title{
              color: #fff !important;
            }
          }
          .top-menu-drop-sub.el-submenu.is-active{
            .el-submenu__title{
              color: #f08f00 !important;
            }
          }
        }
      }
    }
  }
  .top-bar__left i, .top-bar__right i{
    color: #fff;
  }
}
